.newest {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  align-items: center;

  h3 {
    font-size: 20px;
  }

  .newest-quiz {
    display: flex;
    margin-right: 5px;
    padding: 10px;
    border: 2px solid rgba(28, 110, 164, 0.13);
    border-radius: 6px;
    cursor: pointer;

    img {
      width: 200px;
      height: 130px;
      margin: 10px;
    }

    .info {
      margin: 20px 10px;
      p {
        font-size: 25px;
        margin: 2px;
      }

      span {
        font-size: 18px;
        color: rgb(177, 177, 177);
        margin-left: 4px;
      }
    }
  }
}

h2 {
  margin: 20px;
}

.categories {
  display: flex;
  margin: 30px;
  font-size: 20px;

  p {
    margin: 0 15px;
  }

  span {
    margin: 0 15px;
    cursor: pointer;
    &:hover {
      color: red;
    }
  }
}
