<app-header></app-header>
<div class="quiz">
  <div class="newest">
    <p>Our newest quiz</p>
    <div
      *ngIf="newestQuiz"
      class="newest-quiz"
      (click)="addQuizParams(newestQuiz.title, newestQuiz.id)"
    >
      <img [src]="imageURL" alt="quiz-category" />
      <div class="info">
        <p>{{ newestQuiz?.title }}</p>
        <span>By {{ newestQuiz?.userName }}</span>
      </div>
    </div>
    <div *ngIf="noQuizzes">{{ noQuizzes }}</div>
  </div>
  <p class="quizzes-par">Quizzes</p>
  <div class="categories">
    <p>Categories:</p>
    <span (click)="addCategoryQueryParams(CategoryType.All)">All</span>
    <span (click)="addCategoryQueryParams(CategoryType.Movies)">Movies</span>
    <span (click)="addCategoryQueryParams(CategoryType.History)">History</span>
    <span (click)="addCategoryQueryParams(CategoryType.Sport)">Sport</span>
  </div>
</div>
<div class="quiz-container">
  <router-outlet></router-outlet>
</div>
<div class="footer">
  <p>Eszti Corporated</p>
</div>
