<app-header></app-header>
<div class="add-title">
  <h2>Add new title to your quiz</h2>
  <form [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput placeholder="Title" formControlName="title" />
      <mat-error *ngIf="title.hasError('required')">
        Title is required
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Choose a category</mat-label>
      <mat-select formControlName="selectFormControl" required>
        <mat-option>--</mat-option>
        <mat-option value="Movies"> Movies </mat-option>
        <mat-option value="Sport"> Sport </mat-option>
        <mat-option value="History"> History </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="button">
      <button mat-raised-button (click)="addNewTitle()">Add title</button>
    </div>
  </form>
</div>
