<app-header></app-header>
<div class="main-container">
  <h2>{{ allQuestions[0]?.title }}</h2>
  <div class="question">
    <p>{{ currentQuestion?.question }}</p>
  </div>
  <div class="answers">
    <button
      *ngFor="let answer of currentQuestion?.answers"
      mat-raised-button
      (click)="isAnswerCorrect(answer.id, currentQuestion.id)"
      [ngClass]="{
        correct: correctAnswer === answer.id,
        incorrect: wrongAnswer === answer.id + 1000
      }"
    >
      {{ answer.answer }}
    </button>
  </div>
  <div class="result">
    <p>{{ scoreResult }}</p>
  </div>
</div>
