<app-header></app-header>
<div class="main-container">
  <h2>{{ questionsToTitle[0].title }}</h2>
  <div class="question" *ngFor="let question of questionsToTitle">
    <p>{{ question.question }}</p>
    <div class="answers">
      <button
        mat-raised-button
        (click)="isAnswerCorrect(question.answers[0].id, question.id)"
        [ngClass]="
          correctAnswer === question.answers[0].id
            ? 'correct'
            : correctAnswer === question.answers[0].id + 1000
            ? 'incorrect'
            : ''
        "
      >
        {{ question.answers[0].answer }}
      </button>
      <button
        mat-raised-button
        (click)="isAnswerCorrect(question.answers[1].id, question.id)"
        [ngClass]="
          correctAnswer === question.answers[1].id
            ? 'correct'
            : correctAnswer === question.answers[1].id + 1000
            ? 'incorrect'
            : ''
        "
      >
        {{ question.answers[1].answer }}
      </button>
      <button
        mat-raised-button
        (click)="isAnswerCorrect(question.answers[2].id, question.id)"
        [ngClass]="
          correctAnswer === question.answers[2].id
            ? 'correct'
            : correctAnswer === question.answers[2].id + 1000
            ? 'incorrect'
            : ''
        "
      >
        {{ question.answers[2].answer }}
      </button>
    </div>
  </div>
  <div class="result">
    <p>{{ scoreResult }}</p>
  </div>
</div>
