<app-header></app-header>
<div class="my-quizzes">
  <p class="par">My quizzes</p>
  <div class="no-quiz" *ngIf="noQuizzes">
    <p>You don't have any quizzes yet.</p>
  </div>
  <div *ngIf="myQuizzes">
    <div class="quiz" *ngFor="let quiz of myQuizzes">
      <div class="info">
        <p>{{ quiz.title }}</p>
        <span>In {{ quiz.category }}</span>
        <span>By {{ quiz.userName }}</span>
      </div>
      <div class="del-btn">
        <button mat-raised-button>Delete</button>
      </div>
    </div>
  </div>
</div>
