<div class="main-container">
  <div class="form-container">
    <h1 class="title">Quiz Master Login</h1>
    <form [formGroup]="form">
      <mat-form-field appearance="outline">
        <mat-label class="username">Username</mat-label>
        <input matInput placeholder="Username" formControlName="username" />
      </mat-form-field>
      <br />
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          placeholder="Password"
          type="password"
          formControlName="password"
        />
        <mat-error
          *ngIf="
            username?.hasError('required') && password?.hasError('required')
          "
        >
          Username and password are required</mat-error
        >
      </mat-form-field>
      <br />
      <div class="button-container">
        <div class="sign-in">
          <button mat-raised-button (click)="signIn()">SIGN IN</button>
        </div>
        <div class="register">
          <p>Don't have and account yet?</p>
          <a routerLink="/register">Sign up</a>
        </div>
      </div>
    </form>
  </div>
</div>
